
/* par telefonos */
@media  (min-width:360px) {
    html{
        min-height: 100%;
        min-width: 100%;
    }
    body{
        display: block;
        background-color: rgb(102, 102, 102);
        font-family: 'Franklin Gothic Medium';
    }
    .video{
        position: fixed;
        height: 110%;
        margin: 0;
        padding: 0;
        opacity: 1;
    }
    header{
        display: block;
        position: absolute;
        background-color: #556B51;
        width: 100%;
        height: 68px;
    }
    h1{
        position: absolute;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        font-size: 0.75em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .texto-ingreso{
        width: 100%;
        position:absolute;
        top: 5em;
        display: block;
        flex-direction: row;
        margin: 0 auto;
        padding: 0 auto;
    }

    .primera-seccion{
        display: block;
        margin: 0 auto;
        padding: 0 auto;
        width: 90%;
    }
    .contenedor-input{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 90%;
        padding: auto;
        background-color: white;
        border-radius: 5%;
        height:40em;
        cursor: text;
    }

    #texto-introducido{
        position: relative;
        margin: 1em 1em;
        font-size: x-large;
        height: 30em;
        width: 90%;
        padding: 10px auto;
        text-align: start;
        vertical-align: top;
        resize: none;
        border: none;
        background-color: none;
        opacity: 1;
    }
    #texto-introducido::placeholder{
        text-align: start;
    }

    .segunda-seccion{
        display: block;
        justify-content: center;
        margin: 0 auto 5em auto;
        padding: 0 auto;
        width: 90%;
    }
    
    #texto-salida{
        position: fixed;
        background-color: whitesmoke;
        opacity: 1;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 10px auto;
        resize: none;
        border-radius: 3%;
    }
    .contenedor-salida{
        display:block;
        margin: auto;
        padding: 0 auto;
        width: 90%;
        height: 40em;
        background-color: white;
        border-radius: 5%;
    }
    .contenedor-salida img{
        position: relative;
        top: 3%;
        margin: 0 auto;
        padding: 5% auto;
        display: flex;
        justify-content: center;
        width: 45%;
        height: 35%;
    }
    .contenedor-salida h2{
        position: relative;
        margin: 10% 0 auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
    }
    .contenedor-salida p{
        margin: 5% auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: lighter;
    }
    .texto-convertido{
        position: relative;
        top: 3%;
        grid-row: 50;
        margin: 0 auto;
        padding: 0 auto;
        width: 90%;
        height: 37em;
        border: none;
        resize: none;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: medium;
        font-family:'Franklin Gothic Medium';
    }

    .botones{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        margin: 1em auto 2em auto;
        padding: 0 auto;
    }

    
    .botones-encriptacion{
        display: flex;
        justify-content:center;
        gap:60%;
    }
    
    .encriptar-boton{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #000000;
        width: 7em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        margin: 0 10% 0 10%;
        left: 50%;
        transition: 0.5s;
    }
    .encriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }

    .desencriptar-boton{
        position: relative;
        background-color: #556B51;
        border: none;
        border-radius:1em;
        color: #ffffff;
        width: 7em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        margin: 0 10% 0 10%;
        right: 50%;
        transition: 0.5s;
    }
    .desencriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }

    .boton-copiar{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #ffffff;
        width: 7em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        justify-content: center;
        transition: 0.5s;
    }
    .botonCopiar:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    footer{
        display: block;
        position:fixed;
        bottom: 0;
        background-color:   #556B51;
        width: 100%;
        height: 50px;
    }
    footer p{
        position: absolute;
        color: whitesmoke;
        font-size: 12px;
        font-weight: bolder;
        margin: 0;
        text-align: center;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

@media  (min-width:768px) {
    html{
        min-height: 100%;
        min-width: 100%;
    }
    body{
        display: block;
        background-color: rgb(102, 102, 102);
        font-family: 'Franklin Gothic Medium';
    }
    .video{
        position: fixed;
        height: 110%;
        margin: 0;
        padding: 0;
        opacity: 1;
    }
    header{
        position: absolute;
        display: block;
        background-color: #556B51;
        width: 100%;
        height: 68px;
    }
    h1{
        position: absolute;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        font-size: 1em;
        font-family: 'Franklin Gothic Medium';
        font-weight: bold;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .texto-ingreso{
        width: 100%;
        position:absolute;
        top: 5em;
        display: block;
        flex-direction: row;
        margin: 0 auto;
        padding: 0 auto;
    }

    .primera-seccion{
        display: block;
        margin: 0 auto;
        padding: 0 auto;
        width: 70%;
    }
    .contenedor-input{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 90%;
        padding: auto;
        background-color: white;
        border-radius: 5%;
        height:30em;
        cursor: text;
    }

    #texto-introducido{
        position: relative;
        margin: 1em 1em;
        font-size: x-large;
        height: 90%;
        width: 90%;
        padding: 10px auto;
        text-align: start;
        vertical-align: top;
        resize: none;
        border: none;
        background-color: none;
        opacity: 1;
    }
    #texto-introducido::placeholder{
        text-align: start;
    }

    .segunda-seccion{
        display: block;
        justify-content: center;
        margin: 0 auto 10% auto;
        padding: 0 auto;
        width: 90%;
    }
    
    #texto-salida{
        position: fixed;
        background-color: whitesmoke;
        opacity: 1;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 10px auto;
        resize: none;
        border-radius: 3%;
    }
    .contenedor-salida{
        display:block;
        margin: auto;
        padding: 0 auto;
        width: 70%;
        height: 22em;
        background-color: white;
        border-radius: 5%;
    }
    .contenedor-salida img{
        position: relative;
        top: 10%;
        margin: 0 auto;
        padding: 5% auto;
        display: flex;
        justify-content: center;
        width: 25%;
        height: 25%;
    }
    .contenedor-salida h2{
        position: relative;
        margin: 10% 0 auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
    }
    .contenedor-salida p{
        margin: 5% auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: lighter;
    }
    .texto-convertido{
        position: relative;
        top: 3%;
        grid-row: 50;
        margin: 0 auto;
        padding: 0 auto;
        width: 90%;
        height: 90%;
        border: none;
        resize: none;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: medium;
        font-family:'Franklin Gothic Medium';
    }

    .botones{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        margin: 1em auto 2em auto;
        padding: 0 auto;
    }

    .botones-encriptacion{
        display: flex;
        justify-content: center;
        gap: 60%;
    }
    
    .encriptar-boton{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #000000;
        width: 10em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        margin: 0 10% 0 10%;
        left: 50%;
        transition: 0.5s;
    }
    .encriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }

    .desencriptar-boton{
        position: relative;
        background-color: #556B51;
        border: none;
        border-radius:1em;
        color: #ffffff;
        width: 10em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        margin: 0 10% 0 10%;
        right: 50%;
        transition: 0.5s;
    }
    .desencriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }

    .boton-copiar{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:15px;
        color: #ffffff;
        width: 10em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        justify-content: center;
        transition: 0.5s;
    }
    .botonCopiar:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    footer{
        display: block;
        position:fixed;
        bottom: 0;
        background-color:   #556B51;
        width: 100%;
        height: 60px;
    }
    footer p{
        position: absolute;
        color: whitesmoke;
        font-size: 12px;
        font-weight: bolder;
        margin: 0;
        text-align: center;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

@media  (min-width:1024px) {
    html{
        min-height: 100%;
        min-width: 100%;
    }
    body{
        display: block;
        background-color: rgb(102, 102, 102);
        font-family: 'Franklin Gothic Medium';
    }
    .video{
        position: fixed;
        height: 110%;
        margin: 0;
        padding: 0;
        opacity: 1;
    }
    header{
        position: fixed;
        background-color: #556B51;
        height: 68px;
    }
    h1{
        position: relative;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .texto-ingreso{
        width: 100%;
        position: fixed;
        display: flex;
        margin: 0 auto;
        padding: 30px ;
    }

    .primera-seccion{
        display: block;
        margin: 0 auto;
        padding: 0 auto;
        width: 50%;
    }
    .contenedor-input{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 80%;
        padding: auto;
        background-color: white;
        border-radius: 5%;
        height:40em;
        cursor: text;
    }

    #texto-introducido{
        position: relative;
        margin: 1em 1em;
        font-size: x-large;
        height: 30em;
        width: 90%;
        padding: 10px auto;
        text-align: start;
        vertical-align: top;
        resize: none;
        border: none;
        background-color: none;
        opacity: 1;
    }
    #texto-introducido::placeholder{
        text-align: start;
    }
    .segunda-seccion{
        display: block;
        justify-content: center;
        margin: 0 auto;
        padding: 0 auto;
        width: 50%;
    }
    
    #texto-salida{
        position: fixed;
        background-color: whitesmoke;
        opacity: 1;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 10px auto;
        resize: none;
        border-radius: 3%;
    }
    .contenedor-salida{
        display:block;
        margin: auto;
        padding: 0 auto;
        width: 60%;
        height: 40em;
        background-color: white;
        border-radius: 5%;
    }
    .contenedor-salida img{
        position: relative;
        top: 3%;
        margin: 0 auto;
        padding: 5% auto;
        display: flex;
        justify-content: center;
        width: 35%;
        height: 35%;
    }
    .contenedor-salida h2{
        margin: 10% 0 auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
    }
    .contenedor-salida p{
        margin: 5% auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: lighter;
    }
    .texto-convertido{
        position: relative;
        top: 3%;
        grid-row: 50;
        margin: 0 auto;
        padding: 0 auto;
        width: 90%;
        height: 37em;
        border: none;
        resize: none;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: medium;
        font-family:'Franklin Gothic Medium';
    }

    .botones{
        display: flex;
        width: 95%;
        justify-content: space-evenly;
        margin: 1em auto 2em auto;
        padding: 0 auto;
    }

    .botones-encriptacion{
        display: flex;
        justify-content: center;
        gap: 60%;
    }

    .encriptar-boton{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #000000;
        width: 10em;
        height: 3em;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;
        padding: auto 5em;
        transition: 0.5s;
    }
    .encriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }

    .desencriptar-boton{
        position: relative;
        background-color: #556B51;
        border: none;
        border-radius:1em;
        color: #ffffff;
        width: 10em;
        height: 3em;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;
        padding: auto 5em;
        transition: 0.5s;
    }
    .desencriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }

    .boton-copiar{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #000000;
        width: 10em;
        height: 3em;
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 15px;
        cursor: pointer;
        justify-content: center;
        transition: 0.5s;
    }
    .boton-copiar:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    footer{
        position:fixed;
        bottom: 0;
        background-color:   #556B51;
        width: 100%;
        height: 4em;
    }
    footer p{
        position: absolute;
        color: whitesmoke;
        font-size: 12px;
        font-weight: bolder;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

