/* media query para telefonos*/
@media  (min-width:360px) {
    /*propiedad para que todo el html como minimo ocupe el 100% de toda la pantalla tanto en alto como en ancho*/
    html{
        min-height: 100%;
        min-width: 100%;
    }
    /*propiedad para definir los atributos del body*/
    body{
        display: block;
        background-color: rgb(102, 102, 102);
        font-family: 'Franklin Gothic Medium';
    }
    /*propiedad para definir los atributos del video de fondo*/
    .video{
        position: fixed;
        height: 110%;
        margin: 0;
        padding: 0;
        opacity: 1;
    }
    /*propiedad para definir los atributos del header*/
    header{
        display: block;
        position: absolute;
        background-color: #556B51;
        width: 100%;
        height: 68px;
    }
    /*Propiedad para definir los atributos del titulo central de la pagina*/
    h1{
        position: absolute;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        font-size: 0.75em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    /*propiedad para el area principal donde se encuentran el ingreso y la salida de texto*/
    .area-texto{
        width: 100%;
        position:absolute;
        top: 5em;
        display: block;
        flex-direction: row;
        margin: 0 auto;
        padding: 0 auto;
    }
    /*propiedad para definir a la seccion donde se hace el ingreso de texto y estan los botones que indican el funcionamiento*/
    .primera-seccion{
        display: block;
        margin: 0 auto;
        padding: 0 auto;
        width: 90%;
    }
    /*propiedad para definir al div que contiene al textarea donde se hace el ingreso del mensaje para ser encriptado o desencriptado*/
    .contenedor-input{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 90%;
        padding: auto;
        background-color: white;
        border-radius: 5%;
        height:40em;
        cursor: text;
    }
    /*propiedad para definir las dimensiones del text area donde se ingresa el mensaje*/
    #texto-introducido{
        position: relative;
        margin: 1em 1em;
        font-size: x-large;
        height: 30em;
        width: 90%;
        padding: 10px auto;
        text-align: start;
        vertical-align: top;
        resize: none;
        border: none;
        background-color: none;
        opacity: 1;
    }
    /*propiedad para definir la posicion del placeholder*/
    #texto-introducido::placeholder{
        text-align: start;
    }
    /*propiedad para el texto que advierte que solo se aceptan minusculas*/
    .advertencia-input{
        color: #ffffff;
        text-align: center;
        padding-top: 1%;
    }
    /*propiedad que define el comportamiento de la segunda seccion donde se muestra el texto ya transcripto*/
    .segunda-seccion{
        display: block;
        justify-content: center;
        margin: 0 auto 5em auto;
        padding: 0 auto;
        width: 90%;
    }
    /*propiedad para definir los atributos del text area del texto ya encriptado o desencriptado*/
    #texto-salida{
        position: fixed;
        background-color: whitesmoke;
        opacity: 1;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 10px auto;
        resize: none;
        border-radius: 3%;
    }
    /*propiedad que define el comportamiendo del contenedor del text area de salida*/
    .contenedor-salida{
        display:block;
        margin: auto;
        padding: 0 auto;
        width: 90%;
        height: 40em;
        background-color: white;
        border-radius: 5%;
    }
    /*propiedad que define el comportamiendo de la imagen del contenedor de salida*/
    .contenedor-salida img{
        position: relative;
        top: 3%;
        margin: 0 auto;
        padding: 5% auto;
        display: flex;
        justify-content: center;
        width: 45%;
        height: 35%;
    }
    /*propiedad que define el comportamiento del titulo en el contenedor de salida*/
    .contenedor-salida h2{
        position: relative;
        margin: 10% 0 auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
    }
    /*propiedad que define el comportamiento del mensaje en el contenedor de salida*/
    .contenedor-salida p{
        margin: 5% auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: lighter;
    }
    /*propiedad que define el comportamiento del texto transcripto*/
    .texto-convertido{
        position: relative;
        top: 3%;
        grid-row: 50;
        margin: 0 auto;
        padding: 0 auto;
        width: 90%;
        height: 37em;
        border: none;
        resize: none;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: medium;
        font-family:'Franklin Gothic Medium';
    }
    /*propiedad que define el comportamiento de posicion de los botones*/
    .botones{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        margin: 1em auto 2em auto;
        padding: 0 auto;
    }
    /*propiedad que define el comportamiento de los botones de encriptar y desencriptar*/
    .botones-encriptacion{
        display: flex;
        justify-content:center;
        gap:60%;
    }
    /*propiedad que define la apariencia del boton de encriptar*/
    .encriptar-boton{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #000000;
        width: 7em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        margin: 0 10% 0 10%;
        left: 50%;
        transition: 0.5s;
    }
    /*propiedad que define el comportamiento del boton cuando el puntero del mouse se posiciona sobre este*/
    .encriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    /*propiedad que define la apariencia del boton de desencriptar*/
    .desencriptar-boton{
        position: relative;
        background-color: #556B51;
        border: none;
        border-radius:1em;
        color: #ffffff;
        width: 7em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        margin: 0 10% 0 10%;
        right: 50%;
        transition: 0.5s;
    }
    /*propiedad que define el comportamiento del boton de desencriptar cuando el puntero del mouse se posiciona sobre este*/
    .desencriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    /*propiedad que define la apariencia del boton copiar*/
    .boton-copiar{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #000000;
        width: 7em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        margin-top: 3%;
        cursor: pointer;
        justify-content: center;
        transition: 0.5s;
    }
    /*propiedad que define el comportamiento del boton de copiar cuando el puntero del mouse se posiciona sobre este*/
    .botonCopiar:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    /*propiedad que define la apariencia y comportamiento del footer de la pagina*/
    footer{
        display: block;
        position:fixed;
        bottom: 0;
        background-color:   #556B51;
        width: 100%;
        height: 50px;
    }
    /*propiedad que define la apariencia y comportamiento del texto contenido en el footer*/
    footer p{
        position: absolute;
        color: whitesmoke;
        font-size: 12px;
        font-weight: bolder;
        margin: 0;
        text-align: center;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

/* media query para tablets */
@media  (min-width:768px) {
    /*propiedad para que todo el html como minimo ocupe el 100% de toda la pantalla tanto en alto como en ancho*/
    html{
        min-height: 100%;
        min-width: 100%;
    }
    /*propiedad para definir los atributos del body*/
    body{
        display: block;
        background-color: rgb(102, 102, 102);
        font-family: 'Franklin Gothic Medium';
    }
    /*propiedad para definir los atributos del video de fondo*/
    .video{
        position: fixed;
        height: 110%;
        margin: 0;
        padding: 0;
        opacity: 1;
    }
    /*propiedad para definir los atributos del header*/
    header{
        position: absolute;
        display: block;
        background-color: #556B51;
        width: 100%;
        height: 68px;
    }
    /*Propiedad para definir los atributos del titulo central de la pagina*/
    h1{
        position: absolute;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        font-size: 1em;
        font-family: 'Franklin Gothic Medium';
        font-weight: bold;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    /*propiedad para el area principal donde se encuentran el ingreso y la salida de texto*/
    .area-texto{
        width: 100%;
        position:absolute;
        top: 5em;
        display: block;
        flex-direction: row;
        margin: 0 auto;
        padding: 0 auto;
    }
    /*propiedad para definir a la seccion donde se hace el ingreso de texto y estan los botones que indican el funcionamiento*/
    .primera-seccion{
        display: block;
        margin: 0 auto;
        padding: 0 auto;
        width: 70%;
    }
    /*propiedad para definir al div que contiene al textarea donde se hace el ingreso del mensaje para ser encriptado o desencriptado*/
    .contenedor-input{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 90%;
        padding: auto;
        background-color: white;
        border-radius: 5%;
        height:30em;
        cursor: text;
    }
    /*propiedad para definir las dimensiones del text area donde se ingresa el mensaje*/
    #texto-introducido{
        position: relative;
        margin: 1em 1em;
        font-size: x-large;
        height: 90%;
        width: 90%;
        padding: 10px auto;
        text-align: start;
        vertical-align: top;
        resize: none;
        border: none;
        background-color: none;
        opacity: 1;
    }
    /*propiedad para definir la posicion del placeholder*/
    #texto-introducido::placeholder{
        text-align: start;
    }
    /*propiedad para el texto que advierte que solo se aceptan minusculas*/
    .advertencia-input{
        color: #ffffff;
        text-align: center;
        padding-top: 1%;
    }
    /*propiedad que define el comportamiento de la segunda seccion donde se muestra el texto ya transcripto*/
    .segunda-seccion{
        display: block;
        justify-content: center;
        margin: 0 auto 10% auto;
        padding: 0 auto;
        width: 90%;
    }
    /*propiedad para definir los atributos del text area del texto ya encriptado o desencriptado*/
    #texto-salida{
        position: fixed;
        background-color: whitesmoke;
        opacity: 1;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 10px auto;
        resize: none;
        border-radius: 3%;
    }
    /*propiedad que define el comportamiendo del contenedor del text area de salida*/
    .contenedor-salida{
        display:block;
        margin: auto;
        padding: 0 auto;
        width: 70%;
        height: 22em;
        background-color: white;
        border-radius: 5%;
    }
    /*propiedad que define el comportamiendo de la imagen del contenedor de salida*/
    .contenedor-salida img{
        position: relative;
        top: 10%;
        margin: 0 auto;
        padding: 5% auto;
        display: flex;
        justify-content: center;
        width: 25%;
        height: 25%;
    }
    /*propiedad que define el comportamiento del titulo en el contenedor de salida*/
    .contenedor-salida h2{
        position: relative;
        margin: 10% 0 auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
    }
    /*propiedad que define el comportamiento del mensaje en el contenedor de salida*/
    .contenedor-salida p{
        margin: 5% auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: lighter;
    }
    /*propiedad que define el comportamiento del texto transcripto*/
    .texto-convertido{
        position: relative;
        top: 3%;
        grid-row: 50;
        margin: 0 auto;
        padding: 0 auto;
        width: 90%;
        height: 90%;
        border: none;
        resize: none;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: medium;
        font-family:'Franklin Gothic Medium';
    }
    /*propiedad que define el comportamiento de posicion de los botones*/
    .botones{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        margin: 1em auto 2em auto;
        padding: 0 auto;
    }
    /*propiedad que define el comportamiento de los botones de encriptar y desencriptar*/
    .botones-encriptacion{
        display: flex;
        justify-content: center;
        gap: 60%;
    }
    /*propiedad que define la apariencia del boton de encriptar*/
    .encriptar-boton{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #000000;
        width: 10em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        margin: 0 10% 0 10%;
        left: 50%;
        transition: 0.5s;
    }
    /*propiedad que define el comportamiento del boton cuando el puntero del mouse se posiciona sobre este*/
    .encriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    /*propiedad que define la apariencia del boton de desencriptar*/
    .desencriptar-boton{
        position: relative;
        background-color: #556B51;
        border: none;
        border-radius:1em;
        color: #ffffff;
        width: 10em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        cursor: pointer;
        margin: 0 10% 0 10%;
        right: 50%;
        transition: 0.5s;
    }
    /*propiedad que define el comportamiento del boton de desencriptar cuando el puntero del mouse se posiciona sobre este*/
    .desencriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    /*propiedad que define la apariencia del boton copiar*/
    .boton-copiar{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:15px;
        color: #000000;
        width: 10em;
        height: 3em;
        font-size: 90%;
        font-weight: bold;
        margin-top: 3%;
        cursor: pointer;
        justify-content: center;
        transition: 0.5s;
    }
    /*propiedad que define el comportamiento del boton de copiar cuando el puntero del mouse se posiciona sobre este*/
    .botonCopiar:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    /*propiedad que define la apariencia y comportamiento del footer de la pagina*/
    footer{
        display: block;
        position:fixed;
        bottom: 0;
        background-color:   #556B51;
        width: 100%;
        height: 60px;
    }
    /*propiedad que define la apariencia y comportamiento del texto contenido en el footer*/
    footer p{
        position: absolute;
        color: whitesmoke;
        font-size: 12px;
        font-weight: bolder;
        margin: 0;
        text-align: center;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

/* media query para computadoras */
@media  (min-width:1024px) {
    /*propiedad para que todo el html como minimo ocupe el 100% de toda la pantalla tanto en alto como en ancho*/
    html{
        min-height: 100%;
        min-width: 100%;
    }
    /*propiedad para definir los atributos del body*/
    body{
        display: block;
        background-color: rgb(102, 102, 102);
        font-family: 'Franklin Gothic Medium';
    }
    /*propiedad para definir los atributos del video de fondo*/
    .video{
        position: fixed;
        height: 110%;
        margin: 0;
        padding: 0;
        opacity: 1;
    }
    /*propiedad para definir los atributos del header*/
    header{
        position: fixed;
        background-color: #556B51;
        height: 68px;
    }
    /*Propiedad para definir los atributos del titulo central de la pagina*/
    h1{
        position: relative;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    /*propiedad para el area principal donde se encuentran el ingreso y la salida de texto*/
    .area-texto{
        width: 100%;
        position: fixed;
        display: flex;
        margin: 0 auto;
        padding: 30px ;
    }
    /*propiedad para definir a la seccion donde se hace el ingreso de texto y estan los botones que indican el funcionamiento*/
    .primera-seccion{
        display: block;
        margin: 0 auto;
        padding: 0 auto;
        width: 50%;
    }
    /*propiedad para definir al div que contiene al textarea donde se hace el ingreso del mensaje para ser encriptado o desencriptado*/
    .contenedor-input{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 80%;
        padding: auto;
        background-color: white;
        border-radius: 5%;
        height:40em;
        cursor: text;
    }
    /*propiedad para definir las dimensiones del text area donde se ingresa el mensaje*/
    #texto-introducido{
        position: relative;
        margin: 1em 1em;
        font-size: x-large;
        height: 30em;
        width: 90%;
        padding: 10px auto;
        text-align: start;
        vertical-align: top;
        resize: none;
        border: none;
        background-color: none;
        opacity: 1;
    }
    /*propiedad para definir la posicion del placeholder*/
    #texto-introducido::placeholder{
        text-align: start;
    }
    /*propiedad para el texto que advierte que solo se aceptan minusculas*/
    .advertencia-input{
        color: #ffffff;
        text-align: center;
        padding-top: 1%;
    }
    /*propiedad que define el comportamiento de la segunda seccion donde se muestra el texto ya transcripto*/
    .segunda-seccion{
        display: block;
        justify-content: center;
        margin: 0 auto;
        padding: 0 auto;
        width: 50%;
    }
    /*propiedad para definir los atributos del text area del texto ya encriptado o desencriptado*/
    #texto-salida{
        position: fixed;
        background-color: whitesmoke;
        opacity: 1;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 10px auto;
        resize: none;
        border-radius: 3%;
    }
    /*propiedad que define el comportamiendo del contenedor del text area de salida*/
    .contenedor-salida{
        display:block;
        margin: auto;
        padding: 0 auto;
        width: 60%;
        height: 40em;
        background-color: white;
        border-radius: 5%;
    }
    /*propiedad que define el comportamiendo de la imagen del contenedor de salida*/
    .contenedor-salida img{
        position: relative;
        top: 3%;
        margin: 0 auto;
        padding: 5% auto;
        display: flex;
        justify-content: center;
        width: 35%;
        height: 35%;
    }
    /*propiedad que define el comportamiento del titulo en el contenedor de salida*/
    .contenedor-salida h2{
        margin: 10% 0 auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
    }
    /*propiedad que define el comportamiento del mensaje en el contenedor de salida*/
    .contenedor-salida p{
        margin: 5% auto;
        padding: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: lighter;
    }
    /*propiedad que define el comportamiento del texto transcripto*/
    .texto-convertido{
        position: relative;
        top: 3%;
        grid-row: 50;
        margin: 0 auto;
        padding: 0 auto;
        width: 90%;
        height: 37em;
        border: none;
        resize: none;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: medium;
        font-family:'Franklin Gothic Medium';
    }
    /*propiedad que define el comportamiento de posicion de los botones*/
    .botones{
        display: flex;
        width: 95%;
        justify-content: space-evenly;
        margin: 1em auto 2em auto;
        padding: 0 auto;
    }
    /*propiedad que define el comportamiento de los botones de encriptar y desencriptar*/
    .botones-encriptacion{
        display: flex;
        justify-content: center;
        gap: 60%;
    }
    /*propiedad que define la apariencia del boton de encriptar*/
    .encriptar-boton{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #000000;
        width: 10em;
        height: 3em;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;
        padding: auto 5em;
        transition: 0.5s;
    }
    /*propiedad que define el comportamiento del boton cuando el puntero del mouse se posiciona sobre este*/
    .encriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    /*propiedad que define la apariencia del boton de desencriptar*/
    .desencriptar-boton{
        position: relative;
        background-color: #556B51;
        border: none;
        border-radius:1em;
        color: #ffffff;
        width: 10em;
        height: 3em;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;
        padding: auto 5em;
        transition: 0.5s;
    }
    /*propiedad que define el comportamiento del boton de desencriptar cuando el puntero del mouse se posiciona sobre este*/
    .desencriptar-boton:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    /*propiedad que define la apariencia del boton copiar*/
    .boton-copiar{
        position: relative;
        background-color: #53EB3C;
        border: none;
        border-radius:1em;
        color: #000000;
        width: 10em;
        height: 3em;
        font-size: 1em;
        font-weight: bold;
        margin-top: 3%;
        margin-bottom: 15px;
        cursor: pointer;
        justify-content: center;
        transition: 0.5s;
    }
    /*propiedad que define el comportamiento del boton de copiar cuando el puntero del mouse se posiciona sobre este*/
    .boton-copiar:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 0.5px 1.5px white;
    }
    /*propiedad que define la apariencia y comportamiento del footer de la pagina*/
    footer{
        position:fixed;
        bottom: 0;
        background-color:   #556B51;
        width: 100%;
        height: 4em;
    }
    /*propiedad que define la apariencia y comportamiento del texto contenido en el footer*/
    footer p{
        position: absolute;
        color: whitesmoke;
        font-size: 12px;
        font-weight: bolder;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

